body {
  background: #333;
  color: #ffffff;
}

.navbar {
  border-bottom: 3px solid #008ed6;
  opacity: 0.8;
}

.Home {
  background: iurl('home.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;

  .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background: rgba($color: #000000, $alpha: 0.7);
  }

  .container {
    padding-top: 150px;
  }

  .card {
    opacity: 0.8;
  }
}

.Home,
.Create {
  .fas {
    color: #008ed6;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
  }
}

.Explore,
.Share {
  .fas {
    color: #fff;
    background: #333;
    padding: 5px;
    border-radius: 5px;
  }
}
